[Desktop Entry]
Name=Tianya Radar
Name[zh]=天涯阅读器

GenericName=Tianya Radar
GenericName[zh]=天涯雷达

Comment=search novel in tianya
Comment[zh]=搜索天涯小说

Icon=tianya

Type=Application
Categories=Network;Qt;

Exec=tianya
StartupNotify=false
Terminal=false
